<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhengkw.gmallpublisher.mapper.OrderMapper">
    <select id="getTotalAmount" resultType="java.lang.Double">
      SELECT
            sum(TOTAL_AMOUNT) sum
      FROM
               GMALL_ORDER_INFO1128
      WHERE
                CREATE_DATE =#{date}
    </select>
    <select id="getHourAmount" resultMap="getResult">
      SELECT
            CREATE_HOUR,
            sum(TOTAL_AMOUNT) sum
      FROM
               GMALL_ORDER_INFO1128
      WHERE
                CREATE_DATE =#{date}
      GROUP BY
               CREATE_HOUR
    </select>
    <resultMap id="getResult" type="java.util.Map"></resultMap>
</mapper>